@import './lib/ghost-text-ghost/ghost-text-ghost.component.theme.scss';

$ngx-ghosts-default-theme: (
  ghost-base-color: #e3e4e4,
  ghost-glow-color: #f5f5f5,
  ghost-glow-animation-duration: 2000ms,
  ghost-glow-animation-function: linear,
  ghost-font-top-spacing: 0.15em,
  ghost-font-bottom-spacing: 0.2em
);

@mixin ngx-ghosts-theme($theme) {
  $merged-theme: map-merge($ngx-ghosts-default-theme, $theme);
  @include ngx-ghosts-ghost-text-ghost-theme($merged-theme);
}

@include ngx-ghosts-theme(());
